[user]
	name = datalater
	email = the7mincheol@gmail.com
[core]
	precomposeunicode = true
	quotepath = false
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
	s = status -s
	alias-list = ! git config --list | grep alias | cut -c 7-
